SOLAR_API_KEY=your_upstage_solar_key
UPSTAGE_API_KEY=your_upstage_solar_key

# Neo4j Query API endpoint, for example:
# https://<database-id>.databases.neo4j.io/db/neo4j/query/v2
NEO4J_QUERY_URL=your_neo4j_query_api_url
NEO4J_USER=neo4j
NEO4J_PASSWORD=your_neo4j_password
NEO4J_TIMEOUT_SECONDS=20
